/* 1. Добавьте стили для верхнего меню, товара, списка товаров и кнопки вызова корзины. */


header {
    height: 50px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-cart {
    height: 25px;
    width: 100px;
    margin-right: 5%;
    background-color: khaki;
    outline: none;
}
.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.product-item {
    margin: 20px;
}